p{
    font-family:Arial;
    margin-top: 0;
    margin-bottom:0;
}
.video-title{
    width:400px;        
    font-size: 25px;
    font-weight:bold;
    line-height: 30px;
    margin-bottom:5px;
}
.video-stats{
    font-size: 14px;
    color: rgb(96,96,96);
    margin-bottom: 20px;
}
.name{
    font-size: 14px;
    color: rgb(96,96,96);
    margin-bottom:20px;
}
.stuff{
    width:290px;
    font-size: 15px;
    color: rgb(96,96,96);
    line-height: 22px;
    margin-bottom:100px;
}
.apple{
    margin-bottom:50px;
    font-size:14px;
    background-color: rgb(227,65,64);
    color:white;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
}
.span-example{
    cursor: pointer;
}
.span-example:hover{
    text-decoration: underline;
    cursor: pointer;
}